<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- 无障碍服务 -->
        <service
            android:name=".ui.accounting.MyAccessibilityService"
            android:label="艨艟战舰无障碍服务"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <!-- OCR 前台服务 -->
        <service
            android:name=".ui.accounting.OcrFloatingService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

    </application>
</manifest>
